<ul class="list-group">
    <li ng-repeat="file in file.files | orderBy:['-is_dir','name'] | filter:FileListSearchFilter" class="list-group-item">

        <!-- ICON -->
        <span ng-switch="file.extension">
            <i ng-switch-when="mkv" class="fa fa-film"></i>
            <i ng-switch-when="mp4" class="fa fa-film"></i>
            <i ng-switch-when="avi" class="fa fa-film"></i>
            <i ng-switch-when="pdf" class="fa fa-file-pdf-o"></i>
            <i ng-switch-when="jpg" class="fa fa-picture-o"></i>
            <i ng-switch-when="png" class="fa fa-picture-o"></i>
            <i ng-switch-when="exe" class="fa fa-terminal"></i>
            <i ng-switch-when="nfo" class="fa fa-file-text-o"></i>
        </span>

        <i ng-if="file.is_dir" class="fa fa-folder-open-o"></i>

        <!-- LINK -->
        <a ng-if="!file.is_dir" href="/scripts/download.php?file={{ file.path }}">{{ file.name }}</a>
        <a ng-if="file.is_dir" ui-sref="f({ folder: file.path })">{{ file.name }}</a>
    </li>
</ul>
